/* App container */

.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;

}

.category__heading {
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 12px 16px 0;
    margin-top: 0;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
}

.category-item {
    position: relative;
    list-style: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item__link {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 6px 16px;
    right: 0;
    transition: right linear 0.1s ;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}

.category-item--active a {
    color: var(--primary-color);
    right: -4px;
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: 6px;
    transform: translateY(calc(-50% - 1px));
}

/* Home sort + filter */

.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    color: #555555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
    background-color: var(--white-color);
}
.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}
.select-input__list {
    list-style: none;
    position: absolute;
    top: 25px;
    background-color: var(--white-color);
    width: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    border-radius: 2px;
    padding: 10px 16px;
    display: none;
    
}

.select-input__item {

}

.select-input__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    display: block;
    padding: 5px 0;
}
.select-input__link:hover {
    color: var(--primary-color);
}

.home-filter__page {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page--disable .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555555;
}

/* Product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: block;
    text-decoration: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
    border: 1px solid var(--primary-color);
}

.home-product-item__img {
    padding-top: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-repeat: no-repeat;
    /* size img to hơn so với kích thước thẻ div chứa nó thì dùng 2 thuộc tính để hiển thị đúng vị trí */
    background-size: cover;
    background-position: center;
}

.home-product-item__name {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 10px 10px 6px;
    /* Mỗi dòng cao 1.8rem */
    line-height: 1.8rem;
    /* Fix cứng chiều cao của thẻ là 3.6 -> Tức là text chỉ được hiển thị tối đa trên 2 dòng, vì 1 dòng là 1.8rem */
    height: 3.6rem;
    /* Ẩn đi các text ở dòng thứ 3 trở đi */
    overflow: hidden;
    /* Hiển thị tối đa text trên 2 dòng, vượt quá 2 dòng thì hiển thị 3 chấm(...) */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    text-overflow: ellipsis;
}

.home-product-item__price {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-right: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0;
}

.home-product-item__like {

}

.home-product-item__like-icon-empty {

}

i.home-product-item__like-icon-fill {
    color: #F63D30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__rating {
    font-size: 0.7rem;
    color: #d5d5d5;
    margin-left: auto;
    /* margin-top: -1px; */
}

.home-product-item__star-gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1rem;
    color: var(--text-color);
    margin-left: 4px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 4px 0 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__brand {
    margin-left: 10px;
}

.home-product-item__origin-name {
    margin-right: 10px;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    /* Giảm độ sáng của tông màu */
    filter: brightness(60%);
    left: 0;
    bottom: -3px;
}

.home-product-item__favourite span {
    color: var(--white-color);

}

.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 4px;
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgb(255, 216, 64, 0.94);
    border-top-right-radius: 2px;
    text-align: center;
    /* padding: 4px; */
    padding: 0;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgb(255, 216, 64, 0.94) transparent rgb(255, 216, 64, 0.94);
}

.home-product-item__sale-off-percent {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 500;
}

.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
}
