.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.auth-form {
    width: 500px;
}

.auth-form__form {
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;

    /* bỏ border khi focus */
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 20px;
}

.auth-form_policy-text {
    font-size: 1.2rem;
    /* Chiều cao của 1 dòng */
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);

}

.auth-form__constrols {
    margin-top: 80px;
    display: flex;
    justify-content: end;
}

.auth-form__constrols-back {
    margin-right: 8px;
}

